<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <figure>
        <img src="/img/cine-logo.jpg" alt="Logo Cine">
      </figure>
    <a class="navbar-brand" href="/movies">Peliculas</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/genres">Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/genres">Generos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actors">Actores</a>
      </li>
    </ul>
  </nav>
 
